@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap');
@keyframes fadeIn {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}
/* *{
  padding:0;
  margin:0;
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #f2f2f2;
  --bg-secondary: #c2c2c2;
  --transition-speed: 600ms;
} */
body,html{
  padding:0;
  margin:0;
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #f2f2f2;
  --bg-secondary: #c2c2c2;
  --transition-speed: 600ms;
  box-sizing: border-box;
}
.mapDetHeader{
  font-size: 0.85rem;
}
.rightAlign{
  text-align: right;
}
.mapDetails{
  line-height: 1.2;
}
.row{
  display: flex;
  height: auto;
  align-items:center;
}
.col{
  flex: 50%;
}
.setting{
  margin-right: 0;
  width: calc(100% - 7rem);
  height: auto;
}
.pestName{
  font-size: .95rem;
}
.sepScroll{
  overflow-y: scroll;
}
.pestLocation{
  font-size: 0.8rem;
}
.highDensity{
  color: red;
  height: auto;
  margin-bottom: 0.25rem;
}
.lowDensity{
  color: green;
  height: auto;
  margin-bottom: 0.25rem;
}
.mediumDensity{
  color: orange;
  height: auto;
  margin-bottom: 0.25rem;
}
.description{
  width: 100%;
  height: auto;
  font-size: 0.775rem;
}
.image{
  width: 100%;
  height: auto;
  object-fit: contain;
  position: inherit;
  margin-bottom: 0.2rem;
}
.smallCross{
  position: fixed;
  filter: grayscale(100%);
  width: 1rem;
  height: auto;
  right: 1rem;
}
.inputLabel{
  font-size: 0.75rem;
}
#cropRow1{
  margin-top: 0.5rem;
}
#addFarmName, #addFarmCity, #addFarmState, #addFarmCountry, #addFarmPostcode{
  width: calc(100% - 0.8rem);
  height: 2rem;
}
#farmsSettings{
  height: auto;
}
#pestInfoClose, #notificationClose, #settingsClose, #addFarmClose, #multPestsClose{
  filter: grayscale(100%);
  width: 1.5rem;
  height: auto;
  position: absolute;
  top: 1rem;
  right: 0.8rem;
}
#sep{
  height: 1px;
  width: calc(100% - 1rem;);
  background: #f2f2f2;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
#pestInfo, #notifications, #settings, #addFarm, #multPests{
  display: none;
  animation-name: fadeIn;
  animation-duration: 0.2s;
  position: absolute;
  width: calc(100% - 1rem);
  height: calc(100% - 7rem);
  top: 3rem;
  font-size: 1rem;
  text-align: left;
  padding: 0.5rem;
  background-color: white;
  z-index: 1006;
}
#addFarm{
  z-index: 1007;
}
#notifButton{
  z-index: 1004;
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 1rem;
  background: black;
  top: 4rem;
  right: 0.75rem;
  background-color: #f2f2f2;
}
#exclam{
  position: relative;
  text-align: center;
  top: -60%;
  color: #3fa585;
  font-size: 2.75rem;
}
#mapDiv{
  position: absolute;
  overflow: hidden;
  top: 0;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}
#slide-3{
  touch-action: none;
}
#mapArea{
  position: absolute;
  z-index: 900;
  width: 100%;
  height: 100%;
  margin-top: 0;
}
#topBar{
  top: 0;
  width: 100%;
  height: 3rem;
  background-color: #f2f2f2;
  z-index: 1003;
  position: absolute;
}
.slides > div > div > div{
  margin-top: 0.75rem;
  height: 3rem;
  width: 100%;
  font-size: 0.75rem;
  font-family: 'Roboto', sans-serif;
}
.slides > div > div > form > div > select, .slides > div > div > form > div > textarea, .slides > div > div > form > div > input, .slides > div > div > form > div > form > input, .inputDef{
  height: 2.5rem;
  width: 100%;
  font-size: 0.75rem;
  border-radius: 1rem;
  padding: 0.25rem;
  font-family: 'Roboto', sans-serif;
  border: 2px solid #f2f2f2;
  background-color: white;
}
.slides > div > div > form > div{
  margin-top: 0.2rem;
}
.form{
  font-size: 0.75rem;
}
#descForm, #date{
  width: calc(100% - 1.25rem);
  padding: 0.5rem;
  overflow: scroll;
}
#date{
  height: 1.25rem;
}
#img {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
}

#uploadPic{
  margin-top: 1.5rem;
  width: calc(100% - 0.3rem);
  height: 3rem;
  background-color: #f2f2f2;
  border-radius: 1rem;
  text-align: center;
  border: 2px solid #f2f2f2
}
#imgLabel{
  position: relative;
  top: 1rem;
}
#uploadPic:hover, #postButton:focus{
  transition: 0.5s;
  border: 2px solid #3fa585;
}
#postButton{
  position: absolute;
  bottom: 1rem;
  width: calc(100% - 1rem);
  height: 3rem;
  background-color: #f2f2f2;
  border-radius: 1rem;
  text-align: center;
  border: 2px solid #f2f2f2
}
#ast{
  color: red;
}
.slides > div > div > div > select:focus, .slides > div > div > div > textarea:focus, .slides > div > div > div > input:focus, .inputDef:focus {
  transition: 0.5s;
  border: 2px solid #3fa585;
}
.heading{
  margin-top: 0;
  font-family: 'Bebas Neue';
  font-size: 2.5rem;
  height: auto;
  line-height: 1;
}
.settingsIco{
  position: inherit;
  right: 0.6rem;
  top: 0.6rem;
  width: 1.75rem;
  height: auto;
  filter: grayscale(100%);
}
.slides > div > div{
  position: absolute;
  width: calc(100% - 1rem);
  height: calc(100% - 6.5rem);
  top: 3rem;
  font-size: 1rem;
  text-align: left;
  padding: 0.5rem;
}

.slider {
  top: 0;
  position: absolute;
  width: 100%;
  height: calc(100%);
  text-align: center;
  overflow: hidden;
  z-index: 1001;
}

.slides {
  display: flex;
  width: 100%;
  height: 100%;

  overflow-x: auto;
  scroll-snap-type: x mandatory;



  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;

  /*
  scroll-snap-points-x: repeat(300px);
  scroll-snap-type: mandatory;
  */
}
.slides::-webkit-scrollbar {
  width: 0px;
  opacity: 0;
  display: none;
}
.slides::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 10px;
  display: none;
}
.slides::-webkit-scrollbar-track {
  background: transparent;
}
.slides > div {
  z-index: 1001;
  scroll-snap-align: start;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  margin-right: 50px;
  background: white;
  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.5s;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
}
.slides > div:target {
/*   transform: scale(0.8); */
}
.author-info {
  background: rgba(0, 0, 0, 0.75);
  color: white;
  padding: 0.75rem;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: 0;
}
.author-info a {
  color: white;
}
img {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.slider > a {
  display: inline-flex;
  width: 1.5rem;
  height: 1.5rem;
  background: white;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 0 0 0.5rem 0;
  position: relative;
}
.slider > a:active {
  top: 1px;
}
.slider > a:focus {
  background: #000;
}

/* Don't need button navigation */
@supports (scroll-snap-type) {
  .slider > a {
    display: none;
  }
}

html, body {
  height: 100%;
  overflow: hidden;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
}

#bottomBar{
  width: 100%;
}
.navbar {
  z-index: 1004;
  width: 100%;
  position: absolute;
  background-color: var(--bg-primary);
  transition: width 600ms ease;
  overflow: scroll;
  bottom: 0;
  left: 0;
  height: 3rem;
  overflow-x: hidden;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-item {
  width: 100%;
}

.nav-item:last-child {
  margin-top: auto;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 3rem;
  color: var(--text-primary);
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: var(--transition-speed);
  justify-content: center;
}

.nav-link:hover {
  filter: grayscale(0%) opacity(1);
  background: var(--bg-secondary);
  color: var(--text-secondary);
}

.link-text {
  display: none;
  margin-left: 1rem;
}

.nav-link svg {
  max-width: 1.5rem;
  max-height: 1.5rem;
  min-width: 1.5rem;
  min-height: 1.5rem;
  margin: 0 3rem;
}

.fa-primary {
  color: #ff7eee;
}

.fa-secondary {
  color: #df49a6;
}
.fa-primary, .fa-secondary {
  transition: var(--transition-speed);
}


.dark {
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
}

.light {
  --text-primary: #1f1f1f;
  --text-secondary: #000000;
  --bg-primary: #ffffff;
  --bg-secondary: #e4e4e4;
}

.solar {
  --text-primary: #576e75;
  --text-secondary: #35535c;
  --bg-primary: #fdf6e3;
  --bg-secondary: #f5e5b8;
}

.theme-icon {
  display: none;
}

.dark #darkIcon {
  display: block;
}

.light #lightIcon {
  display: block;
}

.solar #solarIcon {
  display: block;
} */
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 3rem;
  height: 1.5rem;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.sliderCheck {
  position: absolute;
  cursor: pointer;
  right: 1rem;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  width: 3.6rem;
  height: 2rem;
}

.sliderCheck:before {
  position: absolute;
  content: "";
  height: 1.5rem;
  width: 1.5rem;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .sliderCheck {
  background-color: #3fa585;
}

input:focus + .sliderCheck {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .sliderCheck:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.sliderCheck.round {
  border-radius: 1rem;
}

.sliderCheck.round:before {
  border-radius: 50%;
}
/* Customize the label (the container) */
.container {
  padding-top: 0.4rem;
  display: block;
  position: relative;
  padding-left: 2rem;
  width: 50%;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 1.5rem;
  width: 1.5rem;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 50%;
  background: white;
}
