@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap');
@keyframes fadeIn {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}
*{
  padding:0;
  margin:0;
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #f2f2f2;
  --bg-secondary: #c2c2c2;
  --transition-speed: 600ms;
}
.pestName{
  font-size: .95rem;
}
.sepScroll{
  overflow-y: scroll;
}
.pestLocation{
  font-size: 0.8rem;
}
.highDensity{
  color: red;
  height: auto;
  margin-bottom: 0.25rem;
}
.lowDensity{
  color: green;
  height: auto;
  margin-bottom: 0.25rem;
}
.mediumDensity{
  color: orange;
  height: auto;
  margin-bottom: 0.25rem;
}
.description{
  width: 100%;
  height: auto;
  font-size: 0.775rem;
}
.image{
  width: 100%;
  height: auto;
  object-fit: contain;
  position: inherit;
  margin-bottom: 0.2rem;
}
#pestInfoClose, #notificationClose{
  filter: grayscale(100%);
  width: 1.5rem;
  height: auto;
  position: absolute;
  top: 1rem;
  right: 1rem;
}
#sep{
  height: 1px;
  width: calc(100% - 1rem;);
  background: #f2f2f2;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
#pestInfo, #notifications{
  display: none;
  animation-name: fadeIn;
  animation-duration: 0.5s;
  position: absolute;
  width: calc(100% - 1rem);
  height: calc(100% - 7rem);
  top: 3rem;
  font-size: 1rem;
  text-align: left;
  padding: 0.5rem;
  background-color: white;
  z-index: 1006;
}
#notifButton{
  z-index: 1004;
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 1rem;
  background: black;
  top: 4rem;
  right: 1rem;
  background-color: #f2f2f2;
}
#exclam{
  position: relative;
  text-align: center;
  top: -60%;
  color: #3fa585;
  font-size: 2.75rem;
}
#mapDiv{
  position: absolute;
  overflow: hidden;
  top: 3rem;
  height: calc(100% - 5.5rem);
  width: 100%;
  padding: 0;
  margin: 0;
}
#slide-3{
  touch-action: none;
}
#map{
  position: fixed;
  width: 100%;
  height: 100%;
  margin-top: 0;
}
#topBar{
  width: 100%;
  height: 3rem;
  background-color: #f2f2f2;
  z-index: 1003;
  position: absolute;
}
.slides > div > div > div{
  margin-top: 0.75rem;
  height: 3rem;
  width: 100%;
  font-size: 0.75rem;
  font-family: 'Roboto', sans-serif;
}
.slides > div > div > div > select, .slides > div > div > div > textarea, .slides > div > div > div > input, .slides > div > div > div > form > input{
  height: 2.5rem;
  font-size: 0.75rem;
  border-radius: 1rem;
  padding: 0.25rem;
  font-family: 'Roboto', sans-serif;
  border: 2px solid #f2f2f2;
}
#descForm, #date{
  width: calc(100% - 1.25rem);
  padding: 0.5rem;
  overflow: scroll;
}
#dateDiv{
  margin-top: 2rem;
}
#date{
  height: 1.25rem;
}
#img {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
}

#uploadPic{
  margin-top: 1.5rem;
  width: calc(100% - 0.3rem);
  height: 3rem;
  background-color: #f2f2f2;
  border-radius: 1rem;
  text-align: center;
  border: 2px solid #f2f2f2
}
#imgLabel{
  position: relative;
  top: 35%;
}
#uploadPic:hover, #postButton:focus{
  transition: 0.5s;
  border: 2px solid #3fa585;
}
#postButton{
  position: inherit;
  bottom: 1rem;
  width: calc(100% - 1rem);
  height: 3rem;
  background-color: #f2f2f2;
  border-radius: 1rem;
  text-align: center;
  border: 2px solid #f2f2f2
}
#ast{
  color: red;
}
.slides > div > div > div > select:focus, .slides > div > div > div > textarea:focus, .slides > div > div > div > input:focus {
  transition: 0.5s;
  border: 2px solid #3fa585;
}
.heading{
  margin-top: 0;
  font-family: 'Bebas Neue';
  font-size: 2.5rem;
}

.slides > div > div{
  position: absolute;
  width: calc(100% - 1rem);
  height: calc(100% - 6.5rem);
  top: 3rem;
  font-size: 1rem;
  text-align: left;
  padding: 0.5rem;
}

.slider {
  z-index: 1001;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
  height: 100%;
  text-align: center;
  overflow: hidden;
}

.slides {
  display: flex;

  overflow-x: auto;
  scroll-snap-type: x mandatory;



  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;

  /*
  scroll-snap-points-x: repeat(300px);
  scroll-snap-type: mandatory;
  */
}
.slides::-webkit-scrollbar, #descForm::-webkit-scrollbar {
  width: 0.0rem;
  height: 0.5rem;
}
.slides::-webkit-scrollbar-thumb, #descForm::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 10px;
  opacity: 0.5
}
.slides::-webkit-scrollbar-track. #descForm::-webkit-scrollbar-track {
  background: transparent;
}
.slides > div {
  scroll-snap-align: start;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  background: #ffffff;
  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.5s;
  position: flex;
  display: flex;
  font-size: 100px;
}
.author-info a {
  color: white;
}
img {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.slider > a:active {
  top: 1px;
}
.slider > a:focus {
  background: #000;
}

/* Don't need button navigation */
@supports (scroll-snap-type) {
  .slider > a {
    display: none;
  }
}

html, body {
  height: 100%;
  overflow: scroll;
}
body {
  display: absolute;
  align-items: center;
  justify-content: center;
}

.navbar {
  z-index: 1004;
  position: fixed;
  background-color: var(--bg-primary);
  transition: width 600ms ease;
  overflow: scroll;
  bottom: 0;
  width: 100vw;
  height: 3rem;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  flex-direction: row;
}

.nav-item {
  width: 100%;
}

.nav-item:last-child {
  margin-top: auto;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 3rem;
  color: var(--text-primary);
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: var(--transition-speed);
  justify-content: center;
}

.nav-link:hover {
  filter: grayscale(0%) opacity(1);
  background: var(--bg-secondary);
  color: var(--text-secondary);
}

.link-text {
  display: none;
  margin-left: 1rem;
}

.nav-link svg {
  max-width: 1.5rem;
  max-height: 1.5rem;
  min-width: 1.5rem;
  min-height: 1.5rem;
  margin: 0 2rem;
}

.fa-primary {
  color: #ff7eee;
}

.fa-secondary {
  color: #df49a6;
}
.fa-primary, .fa-secondary {
  transition: var(--transition-speed);
}


.dark {
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
}

.light {
  --text-primary: #1f1f1f;
  --text-secondary: #000000;
  --bg-primary: #ffffff;
  --bg-secondary: #e4e4e4;
}

.solar {
  --text-primary: #576e75;
  --text-secondary: #35535c;
  --bg-primary: #fdf6e3;
  --bg-secondary: #f5e5b8;
}

.theme-icon {
  display: none;
}

.dark #darkIcon {
  display: block;
}

.light #lightIcon {
  display: block;
}

.solar #solarIcon {
  display: block;
} */
